{{> head}}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Gato</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi nesciunt dignissimos numquam, odio hic quia dolorem, voluptatum quidem similique, molestias iure quas. Voluptates sint qui minima dignissimos debitis asperiores pariatur.
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/gato.jpg" class="img-thumbnail" >
    </div>

</div>


{{> footer }}


